/*Blog Arquivos*/
.introducao-blog {
	background: #000;
}

.blog-container {
	padding: 40px 0;
}

.blog-post:nth-of-type(odd) {
	background: #20A5A4;
}

.blog-post a {
	font-size: 28px;
	color: #000;
	display: block;
	padding: 20px;
	text-transform: uppercase;
}

.blog-post a:after {
	content: "→";
	text-align: right;
	display: block;
	float: right;
}

.blog-post a:hover {
	color: #FFF;
	background: #260E22;
}

.nav-blog {
	margin-top: 20px;
}

.nav-blog a {
	font-size: 14px;
	text-transform: uppercase;
	color: #FEC63E;
}

.nav-blog a {
	margin-right: 20px;
}

/*Blog Post*/

section.introducao-blog {
	height: 100%!important;
	padding-bottom: 20px;
}

.introducao-geral {
	background: #000;
	height: 120px !important;
}

.conteudo-geral {
	padding: 40px 0;
}

.conteudo-geral-container {
	width: 100%;
}


.conteudo-geral p {
	font-size: 18px;
	line-height: 25px;
}

@media only screen and (max-width: 767px) {
	section.introducao-blog .container h1 {
		font-size: 30px;
	}
}


.conteudo-geral-container h3 {
	font-size: 24px;
	font-weight: bold;
}

.conteudo-geral-container ol li {
	font-size: 18px;
	font-weight: semi-bold;
}